<h1><%= @model.name %></h1>
<h3>Columns:</h3>
<table class="table table-bordered table-striped">
  <thead>
    <td>Column Name</td>
    <td>Type</td>
  </thead>
  <tbody>
    <% @columns.each do |col| %>
      <tr>
        <td><%= col.name %></td>
        <td><%= col.type %></td>
      </tr>
    <% end %>
    <tr><td><!-- placeholder for column of edit links --></td></tr>
  </tbody>
</table>
<h3>Rows:</h3>
<table class="table table-bordered table-striped">
  <thead>
    <% @columns.each do |col| %>
      <td><%= col.name %></td>
    <% end %>
  </thead>
  <tbody>
    <% @model.limit(20).each do |row| %>
      <tr>
        <% @columns.each do |col| %>
          <td><%= row.send(col.name) %></td>
        <% end %>
        <td><%= link_to "Edit", edit_model_row_path(@model.name, row.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

